/* style.css */

/* استایل برای دکمه شناور چت‌بات */
#bp-web-widget {
  background-image: url('https://res.cloudinary.com/dmyxtuea0/image/upload/v1720708398/chatbot_icon_r1wcmx.jpg'); /* لینک تصویر جدید آیکون */
  background-size: cover; /* تصویر را به طور کامل بپوشاند */
  background-repeat: no-repeat;
  width: 60px; /* عرض آیکون */
  height: 60px; /* ارتفاع آیکون */
  border-radius: 50%; /* گرد کردن گوشه‌ها */
  border: 2px solid #007bff; /* حاشیه آبی */
  bottom: 20px; /* فاصله از پایین صفحه */
  right: 20px; /* فاصله از سمت راست صفحه */
  position: fixed;
  z-index: 9999;
}

/* مخفی کردن آیکون پیش‌فرض */
#bp-web-widget .bp-floating-button {
  display: none;
}
